body {
    font-family: "open_sansregular";
    font-size: 18px;
}

/*_________header___________*/
#header {
    background: #808000;
    padding-top: 20px;
    padding-bottom: 20px;

}

.main_menu {
    display: flex;
    justify-content: space-around;
}

.main_menu li a {
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.main_menu_brend .navbar-brand {
    font-family: "open_sansbold";
    font-size: 23px;
    color: #fff;
}

.main_menu,
.navbar-light .navbar-nav .nav-link:hover {
    color: #666699;
}

.main_menu_brend .navbar-brand:hover {
    color: #666699;
}

.main_menu,
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 7rem;
}

.main_menu,
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border: solid 1px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/*____________contacts_form__________________*/

#main_page,
#tables,
#tables_main {
    background: #FFF8DC;
}

#main_page {
    padding-top: 5%;
}

#tables_main{
    padding-top: 1%;
    padding-bottom: 5%;
}
.contacts_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts_form form {
    width: 50%;
    margin-bottom: 50px;
}

.contacts_form h1 {
    font-family: "open_sansbold";
    color: #666699;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
}

textarea {
    resize: none;
}

.contacts_form .form-label {
    font-family: "open_sansbold";
    color: #666699;
}

.list-group_contacts {
    text-transform: uppercase;
}

.contacts_form, .text_box p{
    font-family: "open_sansbold";
    color: #f08080;
   
}

.btn-outline-secondary {
    font-family: "open_sansbold";
    background: #808000;
    color: #fff;
}

.form-select,
option {
    font-family: "open_sansbold";
    color: #666699;
}

.form-select:focus {
    border-color: transparent;
    box-shadow: none;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.form-control::placeholder {
    color: #666699;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #666699;
    border-color: #666699;
}



/*________footer____________*/

#footer {
    background: #808000;
    padding: 20px;
    color: #fff;
}

.footer_name {
    font-family: "open_sansbold";
}

/* ________MEDIA______ */

@media (max-width: 960px) {
    .table_color {
        font-size: 16px;
    }

}

@media (max-width: 720px) {
    .table_color {
        font-size: 15px;
    }

}

@media (max-width: 540px) {

    .form_group input {
        font-size: 16px;
    }

    .form_group input::placeholder {
        font-size: 14px;
    }

    .table_color {
        font-size: 13px;
    }
}
